[submodule "kaldi"]
	path = third_party/kaldi/submodule
	url = https://github.com/kaldi-asr/kaldi
	ignore = dirty
[submodule "third_party/sentencepiece"]
	path = third_party/sentencepiece
	url = https://github.com/google/sentencepiece
